.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}




/*top_bar*/
.top_bar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.top_bar .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 30px;
}

.top_bar .customer {
    font-size: 13px;
    font-weight: 300;
    display: flex;
    margin: 0 0 0 auto;
}

.top_bar .customer li {
    padding: 0 10px;
    border-right: 1px solid #ddd;
}




/*header - 메뉴*/
.header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}

.header .inner {
    display: flex;
    /* align-items: center; */
    height: 100px;
    line-height: 100px;
}

.header .inner img {
    width: 155px;
    height: 34px;
}

.header a {
    display: block;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .service {
    margin: 0 0 0 50px;
}


.header .gnb>ul>li {
    position: relative;
}

.header .sub {
    /* 원래 position 뒤에 display가 위치함.
    다단메뉴 할 때는 예외. */
    display: none;

    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;

    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    width: 120px;
    line-height: 40px;
}

.header .gnb>ul>li:hover .sub {
    display: block;
}

.header .sub>li~li {
    border-top: 1px solid #ddd;
}

/*section 1 - mainVisual*/
.mainVisual {}

.mainVisual .itm {
    height: 600px;
}

.mainVisual .itm01 {
    background: url(../images/slide01.jpg) no-repeat center center/cover;
}

.mainVisual .itm02 {
    background: url(../images/slide02.jpg) no-repeat center center/cover;
}

.mainVisual .itm03 {
    background: url(../images/slide03.jpg) no-repeat center center/cover;
}

.mainVisual .itm04 {
    background: url(../images/slide04.jpg) no-repeat center center/cover;
}

.mainVisual .itm05 {
    background: url(../images/slide05.jpg) no-repeat center center/cover;
}

/* 슬라이드 도트 버튼 */
.mainVisual .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.mainVisual .slick-dots>li {
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
}

.mainVisual .slick-dots>li button {
    position: relative;
    width: 80px;
    height: 4px;
    background: #ddd;
    border-radius: 2px;
    overflow: hidden;
    margin: 0 2px;

    border: none;
    outline: none;
    font-size: 0;
}

.mainVisual .slick-dots>li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff6347;

}

/*슬라이드 좌우 버튼*/
.mainVisual .arrows {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    max-width: 1700px;
    width: 100%;
}

.mainVisual .arrows i {
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 30px;
    width: 40px;
    height: 90px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;

}

.mainVisual .arrows .left {
    position: absolute;
    left: 0;
    top: 0;
}

.mainVisual:hover .arrows .left {
    opacity: 0.8;
    transform: translate(30px, 0);
}

.mainVisual .arrows .right {
    position: absolute;
    right: 0;
    top: 0;
}

.mainVisual:hover .arrows .right {
    opacity: 0.8;
    transform: translate(-30px, 0);
}



/*section 2 - mainProduct*/
.mainProduct {
    position: relative;
    padding: 100px 0;
}

.mainProduct .title h2 {
    margin: 0 0 30px 0;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}


.mainProduct .case {
    overflow: hidden;
}

.mainProduct .productSlide {
    margin: 0 -15px;
}

.mainProduct .productSlide figure {
    padding: 0 15px;
}

.mainProduct .productSlide figure .img_box .img_num {
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    color: #fff;
    text-align: center;
    line-height: 32px;
    z-index: 999;
}

.mainProduct .productSlide figure img {
    margin: 0 0 15px 0;
}

.mainProduct .productSlide figure h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #111;
}

.mainProduct .productSlide figure .price_box {
    display: flex;
}

.mainProduct .productSlide figure .price_box .price {
    margin: 0 auto;
}

.mainProduct .productSlide figure .price_box .price .size_l {
    color: #D9184B;
}

.mainProduct .productSlide figure .price_box .price .size_m {
    color: #D9184B;
}

.mainProduct .prdArrows {
    position: absolute;
    left: 50%;
    top: 53%;
    display: flex;
    justify-content: space-between;

    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;

    padding: 0 15px;
}

.mainProduct .prdArrows i {
    padding: 20px 5px;
    background: #ddd;
}

/* 슬라이드 버튼 만들어주기 */
.mainProduct .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.mainProduct .slick-dots li {
    display: inline-block;
}

.mainProduct .slick-dots button {
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    background: #ddd;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    margin: 0 2px;
    cursor: pointer;
}

/* li에 slick-active가 적용되면 바뀌는 색깔 */
.mainProduct .slick-dots li.slick-active button {
    background: #333;
}

/* ---------------section 3 - mainDelivery------------- */
.mainDelivery {
    padding: 100px 0;
    background: #eeeeee;
}

.mainDelivery .Delivery_wrap {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between
}

.mainDelivery .Delivery_wrap .ditm h2 {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 42px;
}

.mainDelivery .Delivery_wrap .red {
    color: #D9184B;
}

.mainDelivery .Delivery_wrap .blue {
    color: #048ABF;
}

.mainDelivery .Delivery_wrap .ditm p {
    font-size: 17px;
    color: #888;
}


/* --------------- section 4 - mainBanner ------------- */


.mainBanner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px;
}

.mainBanner .banner {}

.mainBanner .banner_title {
    text-align: left;
}

.mainBanner .banner_title h2 {
    margin: 0 0 25px 0;
    font-size: 40px;
    font-weight: 700;

}

.mainBanner .banner_title p {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 300;
}

.mainBanner .banner {
    display: flex;
    gap: 30px;
}

.mainBanner .banner .bn_img {
    margin: 0 0 20px 0;
}

.mainBanner .banner .bn_txt {
    text-align: center;
}







/*to_top 버튼*/
.to_top {
    position: fixed;
    bottom: 0px;
    right: 100px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    bottom: 100px;
    visibility: visible;
    opacity: 1;
}

.to_top i {
    color: #fff;
    background: #048ABF;
    padding: 15px;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}